@font-face {
  font-family: "zeta-icons-round";
  src: url("./outputs/web/zeta-icons-round.woff2") format("woff2");
}

@font-face {
  font-family: "zeta-icons-sharp";
  src: url("./outputs/web/zeta-icons-sharp.woff2") format("woff2");
}
